<!doctype html>
<html lang="en">
  <head>
    <title>Banao Django.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
  </head>
  <body>
     <div class="container-fluid" >
        <div class ="col-12">
            <img src="media/{{details.profile_photo}}" style = "height:10rem">
        </div> 
        <div class ="col-12">
            <label class = "h3"><u>{{details.UserType}}</u></label>
        </div> 
        <div class ="col-12">
            <label class = "h5">Name : {{user.first_name}} {{user.last_name}}</label>
        </div> 
        <div class ="col-12">
            <label class="h5">Username : {{user.username}}</label>
        </div> 
        <div class ="col-12">
            <label class="h5">Email : {{user.email}}</label>
        </div> 
        <div class ="col-12">
            <label class="h5">Address : </label>
            <label class="h5">{{details.address}}</label>
            <p class="h5">{{details.state}} ,  {{details.city}}</p>
            <p class="h5">Pin : {{details.pin}}</p>
        </div> 
        <a type="button" class="btn btn-outline-primary" href = "{% url "logout" %}">Log Out</a>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>